# Indexing DataFrames

Explore the DataFrame in the IPython Shell using election.head().
Assign the row position of election.loc['Bedford'] to x.
Assign the column position of election['winner'] to y.
Hit 'Submit Answer' to print the boolean equivalence of the .loc and .iloc selections.

In [1]:
import pandas as pd
election = pd.read_csv('election.csv')
election.set_index('county', inplace=True)

# Assign the row position of election.loc['Bedford']: x
x = 4

# Assign the column position of election['winner']: y
y = 4

# Print the boolean equivalence
print(election.iloc[x, y] == election.loc['Bedford', 'winner'])

True

In [2]:
election.head()

          state   total      Obama     Romney  winner  voters
county
Adams        PA   41973  35.482334  63.112001  Romney   61156
Allegheny    PA  614671  56.640219  42.185820   Obama  924351
Armstrong    PA   28322  30.696985  67.901278  Romney   42147
Beaver       PA   80015  46.032619  52.637630  Romney  115157
Bedford      PA   21444  22.057452  76.986570  Romney   32189

In [3]:
election

               state   total      Obama     Romney  winner   voters
county
Adams             PA   41973  35.482334  63.112001  Romney    61156
Allegheny         PA  614671  56.640219  42.185820   Obama   924351
Armstrong         PA   28322  30.696985  67.901278  Romney    42147
Beaver            PA   80015  46.032619  52.637630  Romney   115157
Bedford           PA   21444  22.057452  76.986570  Romney    32189
Berks             PA  163253  48.939376  49.528646  Romney   250356
Blair             PA   47631  32.575424  66.133401  Romney    85328
Bradford          PA   22501  36.847251  61.450602  Romney    40490
Bucks             PA  319407  49.966970  48.801686   Obama   435606
Butler            PA   88924  31.920516  66.816607  Romney   122762
Cambria           PA   57718  40.162514  57.978447  Romney    86988
Cameron           PA    1967  34.417895  64.260295  Romney     3651
Carbon            PA   24232  45.559591  52.451304  Romney    39017
Centre            PA   68801  48.948416  48.977486  Romney   112949
Chester           PA  248295  49.228539  49.650617  Romney   337822
Clarion           PA   15227  31.069810  67.170158  Romney    24120
Clearfield        PA   31894  34.780837  63.657741  Romney    51174
Clinton           PA   12663  43.457317  54.813235  Romney    22969
Columbia          PA   24305  42.888295  55.317836  Romney    39888
Crawford          PA   33089  39.360513  58.922905  Romney    54711
Cumberland        PA  109964  39.997636  58.532793  Romney   158194
Dauphin           PA  122625  52.362080  46.351070   Obama   178924
Delaware          PA  272853  60.400655  38.581214   Obama   397338
Elk               PA   12425  41.400402  57.134809  Romney    20302
Erie              PA  112732  57.779512  40.895221   Obama   176851
Fayette           PA   48196  45.317039  53.624782  Romney    91681
Forest            PA    2308  38.734835  59.835355  Romney     3232
Franklin          PA   62802  30.110506  68.583803  Romney    87406
Fulton            PA    6148  21.096291  77.748861  Romney     9344
Greene            PA   13726  40.536209  58.174268  Romney    22663
...              ...     ...        ...        ...     ...      ...
Lebanon           PA   53771  35.288538  63.249707  Romney    81476
Lehigh            PA  144922  53.152040  45.604532   Obama   226453
Luzerne           PA  123741  51.699922  46.847043   Obama   194137
Lycoming          PA   46214  32.682737  65.975678  Romney    68064
McKean            PA   15014  35.033968  63.234315  Romney    25861
Mercer            PA   48065  48.022470  50.564860  Romney    75238
Mifflin           PA   16311  26.111213  72.913984  Romney    24445
Monroe            PA   59312  56.364648  42.318586   Obama   108879
Montgomery        PA  401787  56.637223  42.286834   Obama   551105
Montour           PA    7787  38.859638  59.535123  Romney    13518
Northampton       PA  125883  51.646370  47.061160   Obama   209414
Northumberland    PA   31512  39.324702  58.758568  Romney    54978
Perry             PA   18240  29.769737  68.591009  Romney    27245
Philadelphia      PA  653598  85.224251  14.051451   Obama  1099197
Pike              PA   23164  43.904334  54.882576  Romney    41840
Potter            PA    7205  26.259542  72.158223  Romney    10913
Schuylkill        PA   57505  42.523259  55.918616  Romney    86316
Snyder            PA   14962  31.225772  67.170164  Romney    21573
Somerset          PA   33875  27.808118  70.656827  Romney    51860
Sullivan          PA    2934  35.037491  63.360600  Romney     4242
Susquehanna       PA   17930  38.432794  59.871723  Romney    26163
Tioga             PA   15943  31.694160  66.480587  Romney    26001
Union             PA   16187  37.455983  60.931612  Romney    23950
Venango           PA   20775  35.951865  62.228640  Romney    32773
Warren            PA   16462  41.112866  57.192322  Romney    29111
Washington        PA   90078  42.744066  56.012567  Romney   142331
Wayne             PA   20966  38.815225  59.768196  Romney    32577
Westmoreland      PA  168709  37.567646  61.306154  Romney   238006
Wyoming           PA   11214  42.910647  55.189941  Romney    17255
York              PA  186394  38.695452  59.860296  Romney   280280

[67 rows x 6 columns]

Import pandas as pd.
Read in filename using pd.read_csv() and set the index to 'county' by specifying the index_col parameter.
Create a separate DataFrame results with the columns ['winner', 'total', 'voters'].
Print the output using results.head().

In [4]:
# Import pandas
import pandas as pd
filename = 'election.csv'

# Read in filename and set the index: election
election = pd.read_csv(filename, index_col='county')

# Create a separate dataframe with the columns ['winner', 'total', 'voters']: results
results = election[['winner', 'total', 'voters']]

# Print the output of results.head()
print(results.head())

           winner   total  voters
county
Adams      Romney   41973   61156
Allegheny   Obama  614671  924351
Armstrong  Romney   28322   42147
Beaver     Romney   80015  115157
Bedford    Romney   21444   32189

Slice the row labels 'Perry' to 'Potter' and assign the output to p_counties.
Print the p_counties DataFrame. This has been done for you.
Slice the row labels 'Potter' to 'Perry' in reverse order. To do this for hypothetical row labels 'a' and 'b', you could use a stepsize of -1 like so: df.loc['b':'a':-1].

In [5]:
# Slice the row labels 'Perry' to 'Potter': p_counties
p_counties = election['Perry':'Potter']

# Print the p_counties DataFrame
print(p_counties)

# Slice the row labels 'Potter' to 'Perry' in reverse order: p_counties_rev
p_counties_rev = election.loc['Potter':'Perry':-1]

# Print the p_counties_rev DataFrame
print(p_counties_rev)

             state   total      Obama     Romney  winner   voters
county
Perry           PA   18240  29.769737  68.591009  Romney    27245
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197
Pike            PA   23164  43.904334  54.882576  Romney    41840
Potter          PA    7205  26.259542  72.158223  Romney    10913
             state   total      Obama     Romney  winner   voters
county
Potter          PA    7205  26.259542  72.158223  Romney    10913
Pike            PA   23164  43.904334  54.882576  Romney    41840
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197
Perry           PA   18240  29.769737  68.591009  Romney    27245

* Slice the columns from the starting column to 'Obama' and assign the result to left_columns
* Slice the columns from 'Obama' to 'winner' and assign the result to middle_columns
* Slice the columns from 'Romney' to the end and assign the result to right_columns

In [6]:
# Slice the columns from the starting column to 'Obama': left_columns
left_columns = election.loc[:,:'Obama']

# Print the output of left_columns.head()
print(left_columns.head())

# Slice the columns from 'Obama' to 'winner': middle_columns
middle_columns = election.loc[:,'Obama':'winner']

# Print the output of middle_columns.head()
print(middle_columns.head())

# Slice the columns from 'Romney' to the end: 'right_columns'
right_columns = election.loc[:,'Romney':]

# Print the output of right_columns.head()
print(right_columns.head())

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
Armstrong    PA   28322  30.696985
Beaver       PA   80015  46.032619
Bedford      PA   21444  22.057452
               Obama     Romney  winner
county
Adams      35.482334  63.112001  Romney
Allegheny  56.640219  42.185820   Obama
Armstrong  30.696985  67.901278  Romney
Beaver     46.032619  52.637630  Romney
Bedford    22.057452  76.986570  Romney
              Romney  winner  voters
county
Adams      63.112001  Romney   61156
Allegheny  42.185820   Obama  924351
Armstrong  67.901278  Romney   42147
Beaver     52.637630  Romney  115157
Bedford    76.986570  Romney   32189

* Create the list of row labels ['Philadelphia', 'Centre', 'Fulton'] and assign it to rows.
* Create the list of column labels ['winner', 'Obama', 'Romney'] and assign it to cols.
* Create a new DataFrame by selecting with rows and cols in .loc[] and assign it to three_counties.
* Print the three_counties DataFrame.

In [7]:
# Create the list of row labels: rows
rows = ['Philadelphia', 'Centre', 'Fulton']

# Create the list of column labels: cols
cols = ['winner','Obama','Romney']

# Create the new DataFrame: three_counties
three_counties = election.loc[rows,cols]

# Print the three_counties DataFrame
print(three_counties)

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

# Filtering DataFrames

* Create a boolean array of the condition where the 'turnout' column is greater than 70 and assign it to high_turnout.
* Filter the election DataFrame with the high_turnout array and assign it to high_turnout_df.

In [8]:
election = pd.read_csv('election2.csv')

# Create the boolean array: high_turnout
high_turnout = election['turnout']>70

# Filter the election DataFrame with the high_turnout array: high_turnout_df
high_turnout_df = election.loc[high_turnout]

# Print the high_turnout_results DataFrame
print(high_turnout_df)

          county state   total      Obama     Romney  winner  voters  \
8          Bucks    PA  319407  49.966970  48.801686   Obama  435606
9         Butler    PA   88924  31.920516  66.816607  Romney  122762
14       Chester    PA  248295  49.228539  49.650617  Romney  337822
26        Forest    PA    2308  38.734835  59.835355  Romney    3232
27      Franklin    PA   62802  30.110506  68.583803  Romney   87406
45    Montgomery    PA  401787  56.637223  42.286834   Obama  551105
64  Westmoreland    PA  168709  37.567646  61.306154  Romney  238006

      turnout     margin
8   73.324748   1.165284
9   72.436096  34.896091
14  73.498766   0.422079
26  71.410891  21.100520
27  71.850903  38.473297
45  72.905708  14.350390
64  70.884347  23.738508

Import numpy as np.
Create a boolean array for the condition where the 'margin' column is less than 1 and assign it to too_close.
Convert the entries in the 'winner' column where the result was too close to call to np.nan.
Print the output of election.info().

In [9]:
# Import numpy
import numpy as np

# Create the boolean array: too_close
too_close = election['margin'] < 1

# Assign np.nan to the 'winner' column where the results were too close to call
election.loc[too_close,'winner'] = np.nan

# Print the output of election.info()
print(election.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 9 columns):
county     67 non-null object
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     64 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(3)
memory usage: 4.8+ KB
None

* Select the 'age' and 'cabin' columns of titanic and create a new DataFrame df.
* Print the shape of df. This has been done for you.
* Drop rows in df with how='any' and print the shape.
* Drop rows in df with how='all' and print the shape.
* Drop columns from the titanic DataFrame that have less than 1000 non-missing values by specifying the thresh and axis keyword arguments. Print the output of .info() from this.

In [10]:
titanic = pd.read_csv('titanic2.csv')
titanic.drop('Unnamed: 0', axis=1, inplace=True)

# Select the 'age' and 'cabin' columns: df
df = titanic[['age','cabin']]

# Print the shape of df
print(df.shape)

# Drop rows in df with how='any' and print the shape
print(df.dropna(how='any').shape)

# Drop rows in df with how='all' and print the shape
print(df.dropna(how='all').shape)

# Drop columns in titanic with less than 1000 non-missing values
print(titanic.dropna(thresh=1000, axis='columns').info())

(1309, 2)
(272, 2)
(1069, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
pclass      1309 non-null int64
survived    1309 non-null int64
name        1309 non-null object
sex         1309 non-null object
age         1046 non-null float64
sibsp       1309 non-null int64
parch       1309 non-null int64
ticket      1309 non-null object
fare        1308 non-null float64
embarked    1307 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 102.3+ KB
None

# Transforming DataFrames

Apply the to_celsius() function over the ['Mean TemperatureF','Mean Dew PointF'] columns of the weather DataFrame.
Reassign the column labels of df_celsius to ['Mean TemperatureC','Mean Dew PointC'] using the .columns attribute.

In [11]:
weather = pd.read_csv('weather2.csv')

# Write a function to convert degrees Fahrenheit to degrees Celsius: to_celsius
def to_celsius(F):
    return 5/9*(F - 32)

# Apply the function over 'Mean TemperatureF' and 'Mean Dew PointF': df_celsius
df_celsius =  weather[['Mean TemperatureF', 'Mean Dew PointF']].apply(to_celsius)

# Reassign the column labels of df_celsius
df_celsius.columns = ['Mean TemperatureC', 'Mean Dew PointC']

# Print the output of df_celsius.head()
print(df_celsius.head())

   Mean TemperatureC  Mean Dew PointC
0          -2.222222        -2.777778
1          -6.111111       -11.111111
2          -4.444444        -9.444444
3          -2.222222        -7.222222
4          -1.111111        -6.666667

Create a dictionary with the key:value pairs 'Obama':'blue' and 'Romney':'red'.
Use the .map() method on the 'winner' column using the red_vs_blue dictionary you created.

In [12]:
# Create the dictionary: red_vs_blue
red_vs_blue = {'Obama':'blue', 'Romney':'red'}

# Use the dictionary to map the 'winner' column to the new column: election['color']
election['color'] = election['winner'].map(red_vs_blue)

# Print the output of election.head()
print(election.head())

      county state   total      Obama     Romney  winner  voters    turnout  \
0      Adams    PA   41973  35.482334  63.112001  Romney   61156  68.632677
1  Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
2  Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
3     Beaver    PA   80015  46.032619  52.637630  Romney  115157  69.483401
4    Bedford    PA   21444  22.057452  76.986570  Romney   32189  66.619031

      margin color
0  27.629667   red
1  14.454399  blue
2  37.204293   red
3   6.605012   red
4  54.929118   red

Import zscore from scipy.stats.
Call zscore with election['turnout'] as input .
Print the output of type(turnout_zscore). This has been done for you.
Assign turnout_zscore to a new column in election as 'turnout_zscore'.

In [13]:
# Import zscore from scipy.stats
from scipy.stats import zscore

# Call zscore with election['turnout'] as input: turnout_zscore
turnout_zscore = zscore(election['turnout'])

# Print the type of turnout_zscore
print(type(turnout_zscore))

# Assign turnout_zscore to a new column: election['turnout_zscore']
election['turnout_zscore'] = turnout_zscore

# Print the output of election.head()
print(election.head())

<class 'numpy.ndarray'>
      county state   total      Obama     Romney  winner  voters    turnout  \
0      Adams    PA   41973  35.482334  63.112001  Romney   61156  68.632677
1  Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
2  Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
3     Beaver    PA   80015  46.032619  52.637630  Romney  115157  69.483401
4    Bedford    PA   21444  22.057452  76.986570  Romney   32189  66.619031

      margin color  turnout_zscore
0  27.629667   red        0.853734
1  14.454399  blue        0.439846
2  37.204293   red        0.575650
3   6.605012   red        1.018647
4  54.929118   red        0.463391

Create a list new_idx with the same elements as in sales.index, but with all characters capitalized.
Assign new_idx to sales.index.

In [14]:
sales = pd.read_csv('sales2.csv', index_col = 'month')

# Create the list of new indexes: new_idx
new_idx = [name.upper() for name in sales.index]

# Assign new_idx to sales.index
sales.index = new_idx

# Print the sales DataFrame
print(sales)

     eggs  salt  spam
JAN    47  12.0    17
FEB   110  50.0    31
MAR   221  89.0    72
APR    77  87.0    20
MAY   132   NaN    52
JUN   205  60.0    55

Assign the string 'MONTHS' to sales.index.name to create a name for the index.
Print the sales dataframe to see the index name you just created.
Now assign the string 'PRODUCTS' to sales.columns.name to give a name to the set of columns.
Print the sales dataframe again to see the columns name you just created.

In [15]:
# Assign the string 'MONTHS' to sales.index.name
sales.index.name = 'MONTHS'

# Print the sales DataFrame
print(sales)

# Assign the string 'PRODUCTS' to sales.columns.name 
sales.columns.name = 'PRODUCTS'

# Print the sales dataframe again
print(sales)

        eggs  salt  spam
MONTHS
JAN       47  12.0    17
FEB      110  50.0    31
MAR      221  89.0    72
APR       77  87.0    20
MAY      132   NaN    52
JUN      205  60.0    55
PRODUCTS  eggs  salt  spam
MONTHS
JAN         47  12.0    17
FEB        110  50.0    31
MAR        221  89.0    72
APR         77  87.0    20
MAY        132   NaN    52
JUN        205  60.0    55

Generate a list months with the data ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']. This has been done for you.
Assign months to sales.index.
Print the modified sales dataframe and verify that you now have month information in the index.

In [16]:
# Generate the list of months: months
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

# Assign months to sales.index
sales.index = months

# Print the modified sales DataFrame
print(sales)

PRODUCTS  eggs  salt  spam
Jan         47  12.0    17
Feb        110  50.0    31
Mar        221  89.0    72
Apr         77  87.0    20
May        132   NaN    52
Jun        205  60.0    55

# Hierarchical indexing

Print sales.loc[['CA', 'TX']]. Note how New York is excluded.
Print sales['CA':'TX']. Note how New York is included.

In [17]:
sales = pd.read_csv('sales3.csv', index_col=['state','month'])
# Print sales.loc[['CA', 'TX']]
print(sales.loc[['CA', 'TX']])

# Print sales['CA':'TX']
print(sales['CA':'TX'])

             eggs  salt  spam
state month
CA    1        47  12.0    17
      2       110  50.0    31
TX    1       132   NaN    52
      2       205  60.0    55
             eggs  salt  spam
state month
CA    1        47  12.0    17
      2       110  50.0    31
NY    1       221  89.0    72
      2        77  87.0    20
TX    1       132   NaN    52
      2       205  60.0    55

Sort the MultiIndex using the .sort_index() method.

In [18]:
# Sort the MultiIndex: sales
sales = sales.sort_index()

# Print the sales DataFrame
print(sales)

             eggs  salt  spam
state month
CA    1        47  12.0    17
      2       110  50.0    31
NY    1       221  89.0    72
      2        77  87.0    20
TX    1       132   NaN    52
      2       205  60.0    55

In [19]:
# Set the index to the column 'state': sales
sales = sales.reset_index()
sales = sales.set_index(['state'])

# Print the sales DataFrame
print(sales)

# Access the data from 'NY'
print(sales.loc['NY'])

       month  eggs  salt  spam
state
CA         1    47  12.0    17
CA         2   110  50.0    31
NY         1   221  89.0    72
NY         2    77  87.0    20
TX         1   132   NaN    52
TX         2   205  60.0    55
       month  eggs  salt  spam
state
NY         1   221  89.0    72
NY         2    77  87.0    20

Look up data for New York ('NY') in month 1 in the sales DataFrame.
Look up data for California and Texas ('CA', 'TX') in month 2.
Access the inner index month and look up data for all states in month 2. Use (slice(None), 2) to extract all rows in month 2.

In [39]:
sales

             eggs  salt  spam
state month
CA    1        47  12.0    17
      2       110  50.0    31
NY    1       221  89.0    72
      2        77  87.0    20
TX    1       132   NaN    52
      2       205  60.0    55

In [41]:
sales = sales.reset_index()
sales = sales.set_index(['state', 'month'])

# Look up data for NY in month 1 in sales: NY_month1
NY_month1 = sales.loc['NY', 1]
print(NY_month1)

# Look up data for CA and TX in month 2: CA_TX_month2
CA_TX_month2 = sales.loc[(['CA', 'TX'], 2),:]
print(CA_TX_month2)

# Access the inner month index and look up data for all states in month 2: all_month2
all_month2 = sales.loc[(['CA','NY','TX'], 2),:]
print(all_month2)

eggs    221.0
salt     89.0
spam     72.0
Name: (NY, 1), dtype: float64
             eggs  salt  spam
state month
CA    2       110  50.0    31
TX    2       205  60.0    55
             eggs  salt  spam
state month
CA    2       110  50.0    31
NY    2        77  87.0    20
TX    2       205  60.0    55

# Pivoting DataFrames

Pivot the users DataFrame with the rows indexed by 'weekday', the columns indexed by 'city', and the values populated with 'visitors'.

In [21]:
users = pd.read_csv('users.csv')

# Pivot the users DataFrame: visitors_pivot
visitors_pivot = users.pivot(index='weekday', columns='city', values='visitors')

# Print the pivoted DataFrame
print(visitors_pivot)

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

* Pivot the users DataFrame with the 'signups' indexed by 'weekday' in the rows and 'city' in the columns.
* Print the new DataFrame. This has been done for you.
* Pivot the users DataFrame with both 'signups' and 'visitors' pivoted - that is, all the variables. This will happen automatically if you do not specify an argument for the values parameter of .pivot().

In [22]:
# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users.pivot(index='weekday', columns='city', values='signups')

# Print signups_pivot
print(signups_pivot)

# Pivot users pivoted by both signups and visitors: pivot
pivot = users.pivot(index='weekday', columns='city')

# Print the pivoted DataFrame
print(pivot)

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12
        visitors        signups
city      Austin Dallas  Austin Dallas
weekday
Mon          326    456       3      5
Sun          139    237       7     12

Define a DataFrame byweekday with the 'weekday' level of users unstacked.
Print the byweekday DataFrame to see the new data layout. This has been done for you.
Stack byweekday by 'weekday' and print it to check if you get the same layout as the original users DataFrame.

In [23]:
users = pd.read_csv('users.csv')
users.set_index(['city','weekday'], inplace=True)
users

                visitors  signups
city   weekday
Austin Sun           139        7
Dallas Sun           237       12
Austin Mon           326        3
Dallas Mon           456        5

In [24]:
# Unstack users by 'weekday': byweekday
byweekday = users.unstack('weekday')

# Print the byweekday DataFrame
print(byweekday)

# Stack byweekday by 'weekday' and print it
print(byweekday.stack('weekday'))

        visitors      signups
weekday      Mon  Sun     Mon Sun
city
Austin       326  139       3   7
Dallas       456  237       5  12
                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12

Define a DataFrame bycity with the 'city' level of users unstacked.
Print the bycity DataFrame to see the new data layout. This has been done for you.
Stack bycity by 'city' and print it to check if you get the same layout as the original users DataFrame.

In [25]:
users = pd.read_csv('users.csv')
users.set_index(['city','weekday'], inplace=True)
users

                visitors  signups
city   weekday
Austin Sun           139        7
Dallas Sun           237       12
Austin Mon           326        3
Dallas Mon           456        5

In [26]:
# Unstack users by 'city': bycity
bycity = users.unstack('city')

# Print the bycity DataFrame
print(bycity)

# Stack bycity by 'city' and print it
print(bycity.stack('city'))

        visitors        signups
city      Austin Dallas  Austin Dallas
weekday
Mon          326    456       3      5
Sun          139    237       7     12
                visitors  signups
weekday city
Mon     Austin       326        3
        Dallas       456        5
Sun     Austin       139        7
        Dallas       237       12

* Define a DataFrame newusers with the 'city' level stacked back into the index of bycity.
* Swap the levels of the index of newusers.
* Print newusers and verify that the index is not sorted. This has been done for you.
* Sort the index of newusers.
* Print newusers and verify that the index is now sorted. This has been done for you.

In [27]:
users = pd.read_csv('users.csv')
users.set_index(['city','weekday'], inplace=True)
users

                visitors  signups
city   weekday
Austin Sun           139        7
Dallas Sun           237       12
Austin Mon           326        3
Dallas Mon           456        5

In [28]:
# Stack 'city' back into the index of bycity: newusers
newusers = bycity.stack(level='city')

# Swap the levels of the index of newusers: newusers
newusers = newusers.swaplevel(0, 1)

# Print newusers and verify that the index is not sorted
print(newusers)

# Sort the index of newusers: newusers
newusers = newusers.sort_index()

# Print newusers and verify that the index is now sorted
print(newusers)

# Verify that the new DataFrame is equal to the original
print(newusers.equals(users))

                visitors  signups
city   weekday
Austin Mon           326        3
Dallas Mon           456        5
Austin Sun           139        7
Dallas Sun           237       12
                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12
False

# Melting DataFrames

Reset the index of visitors_by_city_weekday with .reset_index().
Print visitors_by_city_weekday.
Melt visitors_by_city_weekday to move the city names from the column labels to values in a single column called visitors.
Print visitors to check that the city values are in a single column now and that the dataframe is longer and skinnier.

In [29]:
# Reset the index: visitors_by_city_weekday
visitors_by_city_weekday = bycity.reset_index() 

# Print visitors_by_city_weekday
print(visitors_by_city_weekday)

# Melt visitors_by_city_weekday: visitors
visitors = pd.melt(visitors_by_city_weekday, id_vars=['weekday'], value_name='visitors')

# Print visitors
print(visitors)

     weekday visitors        signups
city           Austin Dallas  Austin Dallas
0        Mon      326    456       3      5
1        Sun      139    237       7     12
  weekday       NaN    city  visitors
0     Mon  visitors  Austin       326
1     Sun  visitors  Austin       139
2     Mon  visitors  Dallas       456
3     Sun  visitors  Dallas       237
4     Mon   signups  Austin         3
5     Sun   signups  Austin         7
6     Mon   signups  Dallas         5
7     Sun   signups  Dallas        12

Define a DataFrame skinny where you melt the 'visitors' and 'signups' columns of users into a single column.
Print skinny to verify the results. Note the value column that had the cell values in users.

In [30]:
users = pd.read_csv('users.csv')
users

  weekday    city  visitors  signups
0     Sun  Austin       139        7
1     Sun  Dallas       237       12
2     Mon  Austin       326        3
3     Mon  Dallas       456        5

In [31]:
# Melt users: skinny
skinny = pd.melt(users, id_vars=['weekday','city'])

# Print skinny
print(skinny)

  weekday    city  variable  value
0     Sun  Austin  visitors    139
1     Sun  Dallas  visitors    237
2     Mon  Austin  visitors    326
3     Mon  Dallas  visitors    456
4     Sun  Austin   signups      7
5     Sun  Dallas   signups     12
6     Mon  Austin   signups      3
7     Mon  Dallas   signups      5

Set the index of users to ['city', 'weekday'].
Print the DataFrame users_idx to see the new index.
Obtain the key-value pairs corresponding to visitors and signups by melting users_idx with the keyword argument col_level=0.

In [32]:
# Set the new index: users_idx
users_idx = users.set_index(['city', 'weekday'])

# Print the users_idx DataFrame
print(users_idx)

# Obtain the key-value pairs: kv_pairs
kv_pairs = pd.melt(users_idx, col_level=0)

# Print the key-value pairs
print(kv_pairs)

                visitors  signups
city   weekday
Austin Sun           139        7
Dallas Sun           237       12
Austin Mon           326        3
Dallas Mon           456        5
   variable  value
0  visitors    139
1  visitors    237
2  visitors    326
3  visitors    456
4   signups      7
5   signups     12
6   signups      3
7   signups      5

# Pivot tables

Use a pivot table to index the rows of users by 'weekday' and the columns of users by 'city'. These correspond to the index and columns parameters of .pivot_table().

In [33]:
# Create the DataFrame with the appropriate pivot table: by_city_day
by_city_day = users.pivot_table(index='weekday', columns = 'city')

# Print by_city_day
print(by_city_day)

        signups        visitors
city     Austin Dallas   Austin Dallas
weekday
Mon           3      5      326    456
Sun           7     12      139    237

Define a DataFrame count_by_weekday1 that shows the count of each column with the parameter aggfunc='count'. The index here is 'weekday'.
Print count_by_weekday1. This has been done for you.
Replace aggfunc='count' with aggfunc=len and verify you obtain the same result.

In [34]:
# Use a pivot table to display the count of each column: count_by_weekday1
count_by_weekday1 = users.pivot_table(index ='weekday',aggfunc='count')

# Print count_by_weekday
print(count_by_weekday1)

# Replace 'aggfunc='count'' with 'aggfunc=len': count_by_weekday2
count_by_weekday2 =  users.pivot_table(index ='weekday',aggfunc=len)

# Verify that the same result is obtained
print('==========================================')
print(count_by_weekday1.equals(count_by_weekday2))

         city  signups  visitors
weekday
Mon         2        2         2
Sun         2        2         2
==========================================
True

* Define a DataFrame signups_and_visitors that shows the breakdown of signups and visitors by day.
* You will need to use aggfunc=sum to do this.
* Print signups_and_visitors. This has been done for you.
* Now pass the additional argument margins=True to the .pivot_table() method to obtain the totals.

In [35]:
# Create the DataFrame with the appropriate pivot table: signups_and_visitors
signups_and_visitors = users.pivot_table(index = 'weekday', aggfunc=sum)

# Print signups_and_visitors
print(signups_and_visitors)

# Add in the margins: signups_and_visitors_total 
signups_and_visitors_total = users.pivot_table(index = 'weekday', aggfunc=sum, margins=True)

# Print signups_and_visitors_total
print(signups_and_visitors_total)

         signups  visitors
weekday
Mon            8       782
Sun           19       376
         signups  visitors
weekday
Mon            8       782
Sun           19       376
All           27      1158